doctype html
html(lang='ru')
  include ../layouts/head.pug
  body
    include ../layouts/page-header.pug

    include ../components/new-items.pug
    include ../components/features.pug
    include ../components/history.pug
    include ../components/reviews.pug
    include ../components/assortment.pug

    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
