section.assortment
  .assortment__container
    h2.assortment__title
      | Ассортимент
    table.assortment__table.table-assortment
      tr
        th
          | Название
        th.table-assortment__alcohol
          | Алк.
        th.table-assortment__calories
          | Ккал
        th.table-assortment__volume
          | Объём
        th
          | Стоимость
      tr
        td
          | Классика
        td.table-assortment__alcohol
          | &lt; 1,2%
        td.table-assortment__calories
          | 33
        td.table-assortment__volume
          | 330 мл
        td
          | 120 Р.
      tr
        td
          | Шабаш
        td.table-assortment__alcohol
          | &gt; 1,2%
        td.table-assortment__calories
          | 45
        td.table-assortment__volume
          | 330 мл
        td
          | 250 Р.
      tr
        td
          | Вахтёр
          |
          sup.table-assortment__flag
            | Новинка
        td.table-assortment__alcohol
          | &lt; 1%
        td.table-assortment__calories
          | 35
        td.table-assortment__volume
          | 0,5 л
        td
          | 150 Р.
      tr
        td
          | Романтик
          |
          sup.table-assortment__flag
            | Новинка
        td.table-assortment__alcohol
          | &lt; 0,5%
        td.table-assortment__calories
          | 27
        td.table-assortment__volume
          | 0,5 л
        td
          | 90 Р.
