section.assortment
  h2.assortment__title
    | Ассортимент
  table.assortment__table.table-assortment
    tr
      th
        | Название
      th
        | Алк.
      th
        | Ккал
      th
        | Объём
      th
        | Стоимость
    tr
      td
        | Классика
      td
        | &lt; 1,2%
      td
        | 33
      td
        | 330 мл
      td
        | 120 Р.
    tr
      td
        | Шабаш
      td
        | &gt; 1,2%
      td
        | 45
      td
        | 330 мл
      td
        | 250 Р.
    tr
      td
        | Вахтёр &#x9;
        sup.table-assortment__flag
          | Новинка
      td
        | &lt; 1%
      td
        | 35
      td
        | 0,5 л
      td
        | 150 Р.
    tr
      td
        | Романтик &#x9;
        sup.table-assortment__flag
          | Новинка
      td
        | &lt; 0,5%
      td
        | 27
      td
        | 0,5 л
      td
        | 90 Р.
