section.features
  .features__container-big.clearfix
    ul.features__list
      li.features__feature.features__feature--own-production
        h2.features__title
          | Варим сами
        p.features__description
          | Вот этими самыми руками. Экспериментируем и творим, что хотим.
      li.features__feature.features__feature--local
        h2.features__title
          | Своё, родное
        p.features__description
          | Не заработка ради, а импортозамещения для. Поднимаем производство.
      li.features__feature.features__feature--quality
        h2.features__title
          | Не экономим
        p.features__description
          | Человек это то, что он ест и пьёт. У нас только качественные
          | ингредиенты.
