section.reviews
  .reviews__container
    h2.reviews__title
      | Пресса о нас
    blockquote.reviews__item.item-reviews
      p.item-reviews__quote
        | Сегодня мы провели дегустацию чего-то действительно новенького —
        | крафтового кваса. Да, да, вы не ослышались! Спасибо Арсену и Руслану
        | за то, что предоставили целую бочку своего напитка!
      .item-reviews__bottom.clearfix
        cite.item-reviews__cite
          | Газета столичный Стольник
        |
        |
        a.item-reviews__btn.btn.btn--ghost-gray(href='#')
          | Читать далее
