footer.page-footer
  .page-footer__row
    .logo
      img(src='img/logo.png' width='140' height='76' alt='Кваст')
    nav.main-nav
      ul.main-nav__list
        li.main-nav__item
          a.main-nav__link(href='#')
            | История
        li.main-nav__item
          a.main-nav__link(href='#')
            | Производство
        li.main-nav__item
          a.main-nav__link(href='#')
            | Ассортимент
        li.main-nav__item
          a.main-nav__link(href='#')
            | Где купить
  .page-footer__row
    .page-footer__social
      a.page-footer__social-link(href='#')
        | Инстаграм
      |
      |
      a.page-footer__social-link(href='#')
        | Фейсбук
      |
      |
      a.page-footer__social-link(href='#')
        | Вконтакте
      |
      |
    p.page-footer__warning-text
      | При перепечатке материалов ссылка на сайт обязательна!
    .page-footer__dev-copyright.dev-copyright
      a.dev-copyright__logo(href='https://htmlacademy.ru')
        img(src='img/htmlacademy.png' width='27' height='34' alt='htmlacademy')
      b.dev-copyright__text
        | Разработчик:
      |
      |
      a.dev-copyright__link(href='https://htmlacademy.ru')
        | HTML Academy
