.assortment {
  padding-top: 90px;
  padding-bottom: 85px;
}

.assortment__container {
  @include container;
}

.assortment__title {
  margin-top: 0;
  margin-bottom: 75px;

  font-size: $font-size--x-large;
  line-height: $line-height--large;
  text-transform: uppercase;
}

.table-assortment {
  width: 100%;

  border-collapse: collapse;
  text-transform: uppercase;
}

.table-assortment tr {
  border-bottom: 1px solid $gray--xx-light;
}

.table-assortment th,
.table-assortment td {
  box-sizing: border-box;
  padding: 17px 0;

  text-align: left;
}

.table-assortment th {
  padding-top: 5px;
  padding-bottom: 29px;

  font-weight: normal;
  font-size: $font-size--x-small;
  line-height: $line-height;
  color: $gray--x-light;
}

.table-assortment td {
  line-height: $line-height;
  color: $gray--xx-dark;

  &:first-child {
    font-weight: bold;
  }
}

.table-assortment th:first-child,
.table-assortment td:first-child {
  width: 400px;
}

.table-assortment th:last-child,
.table-assortment td:last-child {
  text-align: right;
}

.table-assortment__alcohol {
  width: 95px;
}

.table-assortment__calories {
  width: 60px;
}

.table-assortment__volume {
  width: 95px;
}

.table-assortment__flag {
  margin-left: 20px;
  padding: 2px 5px;

  font-size: $font-size--xx-small;
  line-height: $line-height;
  color: white;

  background-color: black;
  border-radius: 2px;
}
