.field-group {
  font-size: $font-size;
  line-height: $line-height--x-small;
}

.field-group__label {
  @include label;
}

.field-group__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 25px;

  font: inherit;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgba(black, 0.1);
  border: none;
  border-radius: unset;
}

textarea.field-group__field {
  min-height: 120px;

  resize: none;
}

.field-group__field,
textarea.field-group__field {
  &:not([disabled]) {
    &:hover {
      background-color: rgba(black, 0.15);
    }

    &:focus {
      background-color: white;
      outline: none;
    }
  }

  &::placeholder {
    color: rgba(black, 0.3);
  }
}
