.main-nav__list {
  @include list-reset;

  border-top: 1px solid rgba(white, 0.2);
  border-bottom: 1px solid rgba(white, 0.2);
}

.main-nav__item {
  display: inline-block;
  margin-right: 54px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  display: inline-block;
  padding: 19px 0;

  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  outline: none;

  user-select: none;

  &[href] {
    &:hover,
    &:focus {
      color: $color-main;

      box-shadow: 0 1px white;
    }

    &:active {
      color: rgba($color-main, 0.3);
    }
  }
}
