.product {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  min-height: 760px;
  padding-right: 27px;
  padding-bottom: 60px;
  padding-left: 33px;

  vertical-align: top;

  border-right: 1px solid $gray--x-light;
  border-left: 1px solid $gray--x-light;

  &:nth-child(even) {
    border-left: none;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: $font-size--x-large;
  line-height: $line-height--large;
  text-transform: uppercase;
}

.product__row {
  position: relative;

  min-height: 459px;
}

.product__composition {
  float: right;
  width: 150px;
}

.product__composition table {
  width: 100%;

  border-collapse: collapse;
  font-weight: bold;
  text-transform: uppercase;
}

.product__composition td {
  padding: 11px 10px;

  border: 1px solid $gray--x-light;
}

.product__composition p {
  margin: 10px 0;

  font-size: $font-size--small;
  line-height: $line-height--small;
}

.product__image {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: -1;

  width: 319px;
  height: 459px;
}

.product__bottom {
  position: absolute;
  bottom: 0;

  padding-right: 25px;

  font-size: 0;

  & > .btn {
    margin-right: 7px;
  }
}

.product__price {
  display: inline-block;
  padding: 15px 0;
  padding-left: 17px;

  font-size: $font-size;
  vertical-align: top;
}
