@mixin container {
  width: 800px;
  margin: 0 auto;
}

@mixin container--big {
  @include container;

  width: 1015px;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin label {
  display: block;
  margin-bottom: 10px;

  font-weight: bold;
  text-transform: uppercase;
}

@mixin box-link {
  display: inline-block;
  box-sizing: border-box;
  width: 70px;
  height: 70px;

  background-color: $gray-27;
  border: 1px solid rgba($color-main, 0.1);

  &[href] {
    &:hover,
    &:focus {
      border-color: rgba($color-main, 0.3);
      outline: none;
    }

    &:active {
      border-color: rgba($color-main, 0.2);
      opacity: 0.5;
    }
  }
}
