$font-main: 'Arial', sans-serif;
//
$font-size--xx-small: 8px;
$font-size--x-small: 11px;
$font-size--small: 14px;
$font-size: 16px;
$font-size--large: 20px;
$font-size--x-large: 40px;
$font-size--xx-large: 70px;
//
$line-height--x-small: 20px;
$line-height--small: 24px;
$line-height: 30px;
$line-height--large: 60px;
$line-height--x-large: 70px;
//
$color-main--x-light: #ede5d8;
$color-main--light: #c9b7a1;
$color-main: #ffcb78;
$color-main--dark: #e5b66c;
$color-main--x-dark: #d9ad66;
$color-main--xx-dark: #834700;
$color-main--xxx-dark: #6a3900;
//
$gray--x-light: #e5e5e5;
$gray: #a5a198;
$gray--x-dark: #999999;
$gray--xx-dark: #8f8b82;
$gray--xxx-dark: #404040;
//
$gray-68: #444444;
