.page-footer {
  padding-top: 60px;
  padding-bottom: 70px;

  color: $gray;

  background-color: black;
}

.page-footer__container {
  @include container--big;
}

.page-footer__row {
  &--top {
    margin-bottom: 46px;
  }
}

.page-footer__logo {
  float: left;
  margin-left: 36px;
}

.page-footer__main-nav {
  float: right;
  width: 600px;
  margin-top: 8px;
  margin-right: 110px;

  color: white;
}

.page-footer__social {
  float: left;
  margin-right: 95px;

  font-size: 0;
}

.page-footer__social-link {
  @include box-link;

  background-repeat: no-repeat;
  background-position: center;

  &:not(:last-child) {
    border-right-color: transparent;
  }

  &--in {
    background-image: url('../img/icon-instagram.png');
  }

  &--fb {
    background-image: url('../img/icon-facebook.png');
  }

  &--vk {
    background-image: url('../img/icon-vk.png');
  }
}

.page-footer__warning-text {
  float: left;
  width: 200px;

  font-size: $font-size--small;
  line-height: $line-height--x-small;
  color: inherit;
}

.page-footer__dev-copyright {
  float: right;
  width: 304px;

  font-size: $font-size--small;
  line-height: $line-height--x-small;
}

.dev-copyright__logo {
  @include box-link;

  position: relative;

  float: left;
  margin-right: 30px;
  overflow: hidden;

  user-select: none;
}

.dev-copyright__logo img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 27px;
  height: 34px;
  margin-top: -17px;
  margin-left: -13.5px;
}

.dev-copyright__text {
  display: inline-block;
  margin-top: 25px;
}

.dev-copyright__link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
