.page-header {
  padding-top: 60px;
  padding-bottom: 85px;

  color: white;

  background-color: $color-main--xx-dark;
  background-image: url('../img/bg-main.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.page-header__container {
  @include container;
}

.page-header__top {
  margin-bottom: 120px;
}

.page-header__logo {
  float: left;
  width: 140px;
  margin-right: 60px;
}

.page-header__main-nav {
  float: right;
  width: 600px;
  margin-top: 10px;
}

.page-header__promo {
  font-weight: bold;
  font-size: $font-size--xx-large;
  line-height: $line-height--x-large;
  text-align: center;
}
